{% extends "EPlanPlanningBundle::template.html.twig" %}
{% block pageCentrale %}
     <div class="col-md-3">
              <a href="compose.html" class="btn btn-primary btn-block margin-bottom">Editer</a>
              <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">D&eacute;partements</h3>
                  <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                
              </div><!-- /. box -->
              <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Menu</h3>
                  <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <div class="box-body no-padding">
                  <ul class="nav nav-pills nav-stacked">
                    <li><a href="{{ path('e_plan_planning_registrer_salle') }}"><i class="fa fa-circle-o text-red"></i> Charger les salles</a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i>modifier une salle</a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> reconduire une salle</a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> Reconduire toutes les salles</a></li>
                  </ul>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
            <div class="col-md-9">
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Liste Des sallles</h3>
                  <div class="box-tools pull-right">
                    <div class="has-feedback">
                      <input type="text" class="form-control input-sm" placeholder="Enseignant" />
                      <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                  </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                 
                  <div class="callout callout-info">
            <h4>{{message.title}}</h4>
            <p>{{message.messageUser | raw}}</p>
          </div>
                </div><!-- /.box-body -->
                
              </div><!-- /. box -->
            </div><!-- /.col -->
{% endblock %}